{% block head %}
  <style>
    :root {
      --font-base: 'Inter', sans-serif;
      --font-heading: 'Merriweather Sans', sans-serif;
      --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
      --font-content: var(--font-base);
      --font-code: var(--font-mono);
    }
  </style>
{% endblock %}
