body {
  font-family: 'Inter', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather Sans', sans-serif !important;
}

nav {
  background-color: #f8f8f8; /* Adjust background color as needed */
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name a {
  text-decoration: none; /* Remove underline from site name */
  font-weight: bold; /* Make site name bold */
}

.nav-links a {
  text-decoration: none; /* Remove underline from About link */
}
