<div class="site-header-container">
  <div class="site-header">
    <a href="/" class="site-title">
      {{ site.title }}
    </a>
    <a href="/Pages/About" class="site-about">About</a>
  </div>
</div>
