<nav>
  <div class="navbar-container">
    <div class="site-name">
      <a href="/">{{ site.title }}</a>
    </div>
    <div class="nav-links">
      <a href="/Pages/About/">About</a>
    </div>
  </div>
</nav>
