<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-title">
      {{ site.title }}
    </a>
    <ul class="navbar-links">
      <li><a href="/about">About</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
