:root {
  --font-base: 'Inter', sans-serif;
  --font-heading: 'Merriweather Sans', sans-serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-content: var(--font-base);
  --font-code: var(--font-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading); /* Use heading font variable */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}

body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
  h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading); /* Use heading font variable */
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
 
  }
}
