body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Use flexbox for horizontal layout */
}

nav ul li {
  margin-right: 20px; /* Add spacing between links */
}

nav ul li a {
  font-family: var(--font-content); /* Match Stephango's font */
  text-transform: uppercase;
  text-decoration: none;
  color: #333; /* Match Stephango's text color */
    
}
